/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


body{
  width: 100%;
  margin: auto;
  background-color: #006332;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #F4FFD6;
}

img{
  width: 400px;
  border: 1px solid #F4FFD6;
  border-radius: 5px;
}

.button{
  background-color: #ffffff;
  color: #1D1905;
  font-family: monospace;
  font-weight: bold;
  border-radius: 10px;
}

.options-list {
  border: none;
  display: flex;
  margin: 0 -10px;
}

.options:hover{
  background-color: #A2FF00;
  color: #1D1905;
}


/* Groups & Items  (Mobile First) */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  margin: 5px;
}

.item-double {
  flex: 3;
  margin: 5px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .group {
    flex-direction: row;
  }

  div {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #F4FFD6;
    padding: 75px 10px;
  }
}

/*inline-flex */
.options-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}


.options {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
